<?php

class Env
{
    private $host;
    private $dbname;
    private $user;
    private $pwd;

    public function __construct()
    {
        $this->host = "localhost";
        $this->dbname = "";
        $this->user = "";
        $this->pwd = "";
    }

    /**
     * @return string
     */
    public function getHost(): string
    {
        return $this->host;
    }

    /**
     * @return string
     */
    public function getDbname(): string
    {
        return $this->dbname;
    }

    /**
     * @return string
     */
    public function getUser(): string
    {
        return $this->user;
    }

    /**
     * @return string
     */
    public function getPwd(): string
    {
        return $this->pwd;
    }


}
